@model IEnumerable<No9Gallery.Models.MessageList>
@{
    ViewData["Title"] = "Administrator";
}

<style>


    .bigPicture {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
    }

    .bigAvatar {
        width: 120px;
        height: 120px;
        object-fit: cover;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
    }

    .nameInPersonInfo {
        font-size: 32px;
        font-weight: 600;
    }

    .userIntroduction {
        font-size: 16px;
        opacity: 0.8;
        width: 1080px;
    }

    .buttomNum {
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0);
        font-size: 14px;
        font-weight: 600;
    }

    .WorkCard {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
        border-radius: 4px;
    }

    .Works {
        width: 248px;
        height: 180px;
        object-fit: cover;
        border-radius: 4px;
    }

    .WorkName {
        font-size: 16px;
        font-weight: 400;
        background-color: #FFFFFF;
    }
</style>

<div style="border-radius: 6px;">
    <img src="~/image/PersonView/PersonInfoPicture.png" class="bigPicture" style="position:absolute; left:300px; top:60px;" />
</div>

<!--头像-->
<div style="position:absolute;left: 330px; top: 300px;">
    <img src="~/image/avatar/@ViewData["HeadportraitURL"]" class="bigAvatar" />
</div>

<!--用户名和简介-->
<div>
    <span class="nameInPersonInfo" style="position:absolute; left: 480px; top: 375px;">@ViewData["Name"]</span>
</div>

<!--发布信息-->
<div style=" width:1320px; height: 240px">
    <form asp-controller="PersonInfo" asp-action="PostMessage" method="post">
        <textarea name="Content" style="position:absolute; left: 300px; top: 480px; width: 1320px; height: 120px; overflow: visible" class="form-control" placeholder="Write some notifications.."></textarea>
        <input type="text" name="ReceiverID " style="position:absolute; left: 300px; top: 620px; width:240px" class="form-control" placeholder="ReceiveID"/>
        <input type="submit" value="Send" style="position:absolute; left: 570px; top: 620px; width:120px" class="btn btn-primary btn-block btn-flat" />
    </form>
</div>

<!--举报信息表-->
<div style="position:absolute; left:300px; top: 720px; width: 1320px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.works_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.report_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.report_content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.works_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.report_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.report_content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.state)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>